body {
    background-color: #f1f1f1;
    /* margin: 0; */
    font-family: sans-serif;

}

.container {
    /* background-color: lightcoral; */
    width: 1400px;
    margin: 0 auto;
}

.column {
    float: left;
}

.left-column {
    background-color: #fff;
    width: 33%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 16px;
}

.basic-info {
    padding: 0 16px;
}

.basic-info h3, 
.basic-info h4 {
    font-weight: normal;
    margin-bottom: 4px;
}

.basic-info h2 i, 
.basic-info h3 i,
.section h2 i {
    margin-right: 16px;
    color: teal;
}

.basic-info hr {
    border: 1px solid lightgray;
}

.photo {
    width: 100%;
}

.name {
    font-size: 40px;
}

.progress {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.progress-fill {
    background-color: teal;
    border-radius: 8px;
    text-align: center;
    color: #f1f1f1;
}

.custom-height {
    height: 24px;
}

.right-column {
    width: 64%;
    margin-left: 16px;
}

.section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
}

.date {
    color: teal;
}

.footer {
    background-color: teal;
    color: white;
    padding: 50px 0;
    text-align: center;
    clear: both;
}